:root {
	--mainColor: #606B56;
	--secondaryColor: #515a48;
	--borderColor: #161914;
	--shadow: 0 .1em .5em 0 #000;
	--mainText: #fff;
	--secondaryText: #eeeeee;
	--themeDotBorder: #FFF;
	--previewBg: rgb(81, 90, 72, 0.8);
	--previewShadow: #2a2f25;
	--buttonColor: #669966;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;

}

p,
li,
span,
label,
input,
textarea {
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
}

h1 {
	font-size: 56px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

.s1 {
	background-color: var(--mainColor);
	border-bottom: 1px solid var(--bordercColor);
	box-shadow: var(--shadow);
	overflow: auto;
}

.s2 {
	background-color: var(--secondaryColor);
	border-bottom: 1px solid var(--bordercColor);
	box-shadow: var(--shadow);
	overflow: auto;
}

.main-container {
	width: 1200px;
	margin: auto;
}

.greeting_wrapper {
	display: grid;
	min-height: 10em;
	align-content: center;
	text-align: center;
}

.greeting_wrapper h1 {
	/* box-shadow: var(--shadow); */
}

.intro_wrapper {
	background-color: var(--secondaryColor);
	border: 1px solid var(--bordercColor);
	display: grid;
	grid-template-areas:
		"nav_wrapper nav_wrapper"
		"left_column right_column";
	/* grid-template-rows: 3em 30em; */
	box-shadow: var(--shadow);
	-webkit-box-shadow: var(--shadow);
	-moz-box-shadow: var(--shadow);
	-o-box-shadow: var(--shadow);
	border-radius: 7px 7px 0 0;
}

.nav_wrapper {
	grid-area: nav_wrapper;
	border-bottom: 1px solid var(--bordercColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor);
	border-radius: 7px 7px 0 0;
}

.dots_wrapper {
	margin: 0em .3em;
	display: flex;
	justify-content: space-evenly;
}

.browser_dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin: 0em .2em;
}

#dot1 {
	background-color: #fc6058;
	/* box-shadow: var(--shadow); */
}

#dot2 {
	background-color: #fec02f;
	/* box-shadow: var(--shadow); */
}

#dot3 {
	background-color: #2aca3e;
	/* box-shadow: var(--shadow); */
}

#navigation {
	margin: 0em .3em;
	padding: .5em 0;
	list-style: none;
}

#navigation li {
	display: inline-block;
	margin: 0em .3em;
}

#navigation a {
	text-decoration: none;
	color: var(--mainText);
	transition: all .5s ease-in-out;
}

#navigation a:hover {
	color: crimson;
	/* font-weight: 500; */
}

.left_column {
	grid-area: left_column;
	display: grid;
	grid-gap: 1em;
	justify-items: center;
	align-items: center;
	padding: 50px 0;
}

#profile_pic {
	background-image: url("../images/me.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	width: 200px;
	border: 1px solid var(--bordercColor);
	border-radius: 50%;
	box-shadow: var(--shadow);
	display: block;
	margin: auto;
}

#profile_pic:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.left_column h5 {
	text-align: center;
	margin: auto;
}

#theme_options_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

#htme#theme_options_wrapper:hover {}

.theme_dot {
	/* display: inline-block; */
	height: 30px;
	width: 30px;
	background-color: #000;
	cursor: pointer;
	border-radius: 50%;
	margin: 5px;
	border: 2px solid var(--themeDotBorder);
	box-shadow: var(--shadow);
	-webkit-box-shadow: var(--shadow);
	-moz-box-shadow: var(--shadow);
	-o-box-shadow: var(--shadow);
	/* transition: all .3s ease-in-out; */
}

.theme_dot:hover {
	border-width: 5px;
	/* height: 40px; */
	/* width: 40px; */
	/* transform: scale(1.5); */
}

#light_mode {
	background-color: #fff;
}

#blue_mode {
	background-color: #192734;
}

#green_mode {
	background-color: #78866b;
}

#purple_mode {
	background-color: #7e4c74;
}

#settings_note {
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

.right_column {
	grid-area: right_column;
	display: grid;
	align-content: center;
	/* justify-content: center; */
	padding: 0;
}

#preview_shadow {
	background-color: var(--previewShadow);
	width: 300px;
	height: 220px;
	padding-left: 2em;
	padding-top: 2em;
}

#preview_shadow:hover {
	transform: scale(1.05);
}

#preview {
	width: 300px;
	border: 1.5px solid #119588;
	padding: 2.5em;
	background-color: var(--previewBg);
	position: relative;
}

#preview:hover {
	transform: scale(1.08);
}

.corner {
	width: 10px;
	height: 10px;
	background-color: #f5f5f5;
	border: 1.5px solid #119588;
	border-radius: 50%;
	position: absolute;
}

#corner_tr {
	top: -5px;
	right: -5px;
}

#corner_tl {
	top: -5px;
	left: -5px;
}

#corner_br {
	bottom: -5px;
	right: -5px;
}

#corner_bl {
	bottom: -5px;
	left: -5px;
}

.about_wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, auto));
	grid-gap: 2em;
	margin: 5em 0;
	padding: .5em;
}

.about_me {}

.about_me h4 {}

.about_me p {
	margin: .5em 0;
}

.about_me hr {
	margin: 1em auto;
}

.about_me a {
	text-decoration: none;
}

#hls1 {}

#hls2 {
	display: grid;
	align-items: center;
	justify-items: center;
}

#skills {
	display: flex;
	justify-content: space-evenly;
	border: 1px solid var(--bordercColor);
	background-color: var(--previewShadow);
	margin: .5em 0;
	padding: .5em;
	width: 75%;
	box-shadow: var(--shadow);
}

#skills li:hover {
	transform: scale(1.05);
	/* text-transform: uppercase; */
	/* border-bottom: 1px solid var(--bordercColor); */
	/* background-color: var(--themeDotBorder); */
	/* color: var(--mainColor); */
}

#fiverr {
	padding: 1em;
	background-color: var(--secondaryText)
		/*var(--previewShadow)*/
		/*#00B31E*/
	;
	display: grid;
	justify-items: center;
	align-items: center;
	border: 1px solid var(--bordercColor);
	box-shadow: var(--shadow);
}

#fiverr:hover {
	/* transform: scale(1.2); */
}

.fiverr-seller-widget {}

.fiverr-seller-widget:hover {
	transform: scale(1.2);
}

.post_wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, auto));
	grid-gap: 1.5em;
	margin: 1em auto;
}

.post {
	margin: 2em auto;
	border: 1px solid var(--bordercColor);
	box-shadow: var(--shadow);
	background-color: var(--secondaryColor);
	display: grid;
	grid-gap: 1em;
}

.post:hover {
	transform: scale(1.05);
	cursor: pointer;
}

#post_1 {
	/* background-color: #a7f4e3; */
}

#post_2 {
	/* background-color: #e6e6fa; */
}

#post_3 {
	/* background-color: #ffbeb1; */
}

.thumbnail {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 180px;
	padding: 0;
}

#card_1 {
	background-image: url("../images/logos_&_icons/business-website.png");
}

#card_2 {
	background-image: url("../images/logos_&_icons/portfolio-website.jpg");
}

#card_3 {
	background-image: url("../images/logos_&_icons/sqa-service.jpg");
}

#card_4 {
	background-image: url("../images/logos_&_icons/website-features.jpg");
}

#card_5 {
	background-image: url("../images/logos_&_icons/wordpress-development.jpg");
}

.post_preview {
	padding: .5em 2em;
}

.post_title {}

.post_intro {}

#contact {
	display: grid;
	grid-template-columns: repeat(1, 2fr 1fr);
	grid-gap: .5em;
	/* padding: 1em 0; */
	margin: 3em 0;
}

.contact_form {
	/* border: 1px solid var(--bordercColor); */
	justify-items: center;
	align-items: center;
	padding: 1em;
}

.contact_form:hover {
	transform: scale(1.1);
}

.contact_form h3 {
	text-align: center;
}

#cf_fields {
	/* display: block; */
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--bordercColor);
	box-shadow: var(--shadow);
	padding: 15px;
	background-color: var(--mainColor);
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(0, auto));
	grid-gap: .5em;
	/* align-items: center;
	justify-content: center; */
}

.cf_field {
	width: 100%;
	padding: .5em;
	border-radius: 5px;
	border: 1px solid var(--bordercColor);
	color: #111921;
}

#cf_fields textarea {
	width: 100%;
	height: 10em;
	padding: .5em;
	border-radius: 5px;
	border: 1px solid var(--bordercColor);
	color: #111921;
}

#submit_btn {
	/* background-color: var(--buttonColor); */
}

.social_links {
	display: grid;
	grid-gap: 1em;
	justify-content: center;
	align-items: center;
	background-color: var(--mainColor);
	border: 1px solid var(--bordercColor);
	box-shadow: var(--shadow);
	padding: 1em;
}

.social_links:hover {
	transform: scale(1.1);
}

#social_img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../images/logos_&_icons/sj_logos_&_banners/logo.png");
	width: 300px;
	height: 300px;
}

.social_links h3 {
	color: var(--mainText);
	text-align: center;
}

.social_links ul {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0px, auto));
	grid-gap: .5em;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.social_links li {}

.social_links li a {}

.social_links li img {
	height: 35px;
	width: 35px;
}

.social_links li img:hover {
	transform: scale(1.2);
}

footer {}

#footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: .5em;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100%;
}

#footer p {}

#footer h4 {
	text-align: center;
}

#footer a {
	text-decoration: none;
}

#footer span {
	display: inline-block;
}

#s {}

#j {}

@media (max-width: 1200px) {
	.main-container {
		width: 95%;
	}
}

@media (max-width: 900px) {
	#skills {
		display: flex;
		flex-direction: column;
		margin: .5em 0;
		padding: .5em 2em;
	}

	#contact {
		display: flex;
		flex-direction: column;
		margin: 1em 0;
		padding: .5em 2em;
	}

	#social_img {
		align-items: center;
		width: 300px;
		height: 300px;
	}

	#preview {
		width: 250px;
	}

	#preview:hover {
		transform: none;
	}

	#preview_shadow {
		width: 250px;
		height: 200px;
	}

	#preview_shadow:hover {
		transform: none;
	}

	#footer {
		height: 25vh;
	}
}

@media (max-width: 800px) {
	.intro_wrapper {
		display: grid;
		grid-template-areas:
			"nav_wrapper"
			"left_column"
			"right_column";
	}

	.right_column {
		justify-content: center;
		padding-bottom: 7em;
	}

	#skills {
		display: flex;
		flex-direction: column;
		margin: .5em 0;
		padding: .5em 2em;
	}

	#contact {
		display: flex;
		flex-direction: column;
		margin: .5em 0;
		padding: .5em 2em;
	}

	#footer {
		height: 25vh;
	}
}

@media (max-width: 480px) {
	#skills {
		display: flex;
		flex-direction: column;
		margin: .5em 0;
		padding: .5em 2em;
	}

	#contact {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		margin: 1em 0;
		padding: .5em 2em;
	}

	#social_img {
		width: 100%;
	}

	#preview {
		width: 210px;
	}

	#preview h3 {
		font-size: 18px;
	}

	#preview p {
		font-size: 13px;
	}

	#preview_shadow {
		width: 200px;
		height: 175px;
	}

	footer {
		display: grid;
		grid-template-rows: auto;
		grid-gap: .5em;
	}

	#footer {
		width: 100%;

	}

	#footer p {
		width: 100%;
	}

	#footer h4 {}

	#footer a {}

	#footer span {
		display: inline-block;
	}

	#s {
		color: orangered;
	}

	#j {
		color: orangered;
	}

}

@media (max-width: 350px) {
	#skills {
		display: flex;
		flex-direction: column;
		margin: .5em 0;
		padding: .5em 2em;
	}

	#contact {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		margin: 1em 0;
		padding: .5em 2em;
	}

	#social_img {
		width: 100%;
	}

	#preview {
		width: 170px;
	}

	#preview:hover {
		transform: none;
	}

	#preview h3 {
		font-size: 15px;
	}

	#preview p {
		font-size: 10px;
	}

	#preview_shadow {
		width: 160px;
		height: 150px;
	}

	footer {
		display: grid;
		grid-template-rows: auto;
		grid-gap: .5em;
	}

	#footer {
		width: 100%;

	}

	#footer p {
		width: 100%;
	}

	#footer h4 {}

	#footer a {}

	#footer span {
		display: inline-block;
	}

	#s {
		color: orangered;
	}

	#j {
		color: orangered;
	}

}